.vis-legend {
  position: absolute;
  top: 60px;
  left: 20px;
}

.storymode {
 position: relative;
 z-index: 1012022;
 cursor: default;
 top: 65px;
 left: 20px;
 width: 300px;
 background: rgba(12, 12, 12, 0.8);
 color: #eee;
 padding: 15px;
 display: block;
  height: auto; 
  border-radius: 6px;

 /*display: block;*/
overflow: auto;
}

#storymode-content {
 font-size: 12px;
 line-height: 16px;
 white-space: pre-line;
}

.storymode-legend {
    display: block;
    margin-left: auto;
    margin-right: auto;
   margin-top: 15px;
}

.storymode-select {
  margin-top: 5px;
  font-size: 12px;

}

#storymode-header {
 margin-bottom: 10px;
 text-align: left;
 font-size: 16px;
 font-family: 'Roboto Condensed', sans-serif;
}

#storymode-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#storymode-controls-numbers {
  display: inline-block;
  text-align: center;
  width: 60px;
}

#story-back {
  visibility: hidden;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.band {
    width: 100%;
    height: 10px;
    margin-bottom: 5px;
    background: linear-gradient(to left, #f54e5e, #f1f075, #98fb98);
}

input:checked+.toggle--white {
    background: #eee;
}


.checkboxplace {
  display:block;
  margin-top: 12px;
   font-size: 13px;
  overflow: auto;
  cursor: default;
  font-family: 'Roboto Condensed', sans-serif;
}

.checkboxplace2 {
  display:block;
  margin-top: 4px;
   font-size: 13px;
  overflow: auto;
  cursor: default;
  font-family: 'Roboto Condensed', sans-serif;

}

.sliderplace {
  position: absolute;
  width: 100px;
}

.toggle{
    font-weight: 100;
}

.select {
   font-weight: 100;
}

input:checked+.toggle {
    color: black;
}

.toggle-group {
    margin-top: 3px;
}

body, input, textarea {
     color: #d6d6d6;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}