.slider {
position: absolute;
 bottom: 50px;
 left: 20px;
 width: 300px;
 background: rgba(12, 12, 12, 0.8);
 color: #eee;
 padding: 15px;
 display: block;
width: 500px;
 font-size: 12px;
}

.caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
   margin-top: 30px;
}

 /*<div className="caption">{formatkg(horizontal)}</div>*/